body {
    margin: 0;
    background-color: #FAFAFA;
}

.container {
    width: 100vw;
    height: 100vh;
    padding: 15px;
}

.header{
    display: flex;
    justify-content:left;
    align-items: center;
    height: 100%;
    padding-top: 8%;
    padding-bottom: 1%;
    padding-left: 18%;
}

.header-text {
    font-size: 4.5vw;
    font-weight: bolder;
}

.header-button {
    padding-left: 5%;
}

#checkin-button
{
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 5%;
    padding-right: 5%;
    width: 200%;
    background-color: #FDDA5E;
    font-weight: bold;
    border: none;
    border-radius: 30px;
}


.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-top: 0;
    padding-left: 18%;
    padding-right: 10%;
}

.box {
    width: 100%;
    height:  40%;
    border-radius: 50px;
    background-color: white;
    box-shadow: 0px 0px 6px #CCCCCC;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.pets-num
{
    padding-top: 2%;
    padding-bottom: 3%;
}

.number {
    font-size: 5vw;
    font-weight: bold;
    text-align: center;
}

.box-text {
    text-align: center;
}

.appointments{
    padding-top: 2%;
    padding-bottom: 10%;
    padding-left: 18%;
    padding-right: 10%;
}

.table {
    width: 100%;
    height:  40%;
    border-radius: 50px;
    background-color: #FAFAFA;
    box-shadow: 0px 0px 6px #CCCCCC;
}

.todaytitle
{
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 5%;
    font-size: 2.5vw;
    font-weight: bold;
    color: #FAFAFA;
    background-color: #E1D5CA;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.tabletitle {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-top: 2%;
    padding-bottom: 0.2%;
    font-size: 1.8vw;
    font-weight: 500;
}

hr {
    margin-top: 0%;
    margin-bottom: -0.5%;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}

.contents {
    padding-top: 1%;
    padding-bottom: 2%;
}

.contents .customer {
    
    display: flex;
    margin-top: 2%;
    margin-bottom: 2%;
}

.tg  
{
    border-collapse:collapse;
    margin-left: 2%;
    width: 93%;
}

.tg td
{
    border-color: #FAFAFA;
    border-style:solid;
    border-width:1px;
    font-size:1vw;
    overflow:hidden;
    padding-top: 20px;
    padding-bottom: 20px;
    word-break:normal;
}

#t1
{
    padding-left: 2%;
}

#t2
{
    padding-left: 1%;
}

#t6
{
    padding-right: 3%;    
}



.tg .tg-text1
{
    text-align: center;
    vertical-align:top;
    width: 18%;
}

.tg .tg-text2
{
    text-align: center;
    vertical-align:top;
    width: 15%;
}

.tg .tg-text3
{
    text-align: center;
    vertical-align:top;
    width: 18%;
}

.tg .tg-text4
{
    text-align: center;
    vertical-align:top;
    width: 20%;
}

.tg .tg-text5
{
    text-align: center;
    vertical-align:top;
    width: 15%;
}

.tg .tg-text6 {
    text-align: center;
    vertical-align:top;
    width: 15%;
    justify-content: center;
}

#tg-button {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    width: 100%;
    background-color: #FDDA5E;
    border: none;
    border-radius: 10px;
}