body {
    font-size: 1vw;
}
.customerdetailscontainer, .spaservicecontainer, .hotelcontainer{
    width: 100%;
    background-color: #FFF;
    box-shadow: 0px 2px 6px #CCCCCC;
    border-radius: 35px;
    margin-bottom: 50px;
    padding: 30px 50px 30px 45px;
}

.customerdetailscontainer {
    height: 32%;
    margin-top: 50px;
}

.spaservicecontainer {
    height: 65%;
}

.hotelcontainer {
    height: 50%;
}

.buttons {
    margin: auto;
    width: 100%;
    text-align: center;
}

input[type="submit"] {
    width: 25%;
    border-radius: 25px;
    border: none;
    background-color: #F9D95E;
    height: 36px;
    font-weight: bold;
    color: #515151;
    box-shadow: 0px 0px 10px #CCCCCC;
    margin-bottom: 50px;
    margin-left: 60px;
    margin-right: 60px;
}

#label {
    font-size: 1.8vw;
    font-weight: 600;
    color: #3A3A3A;
    line-height: normal;
}

#forcustomer {
    width: 100%;
    height: 70%;
    font-size: 1vw;
    table-layout: fixed;
}

.inputcustomer, .inputcustomer2 {
    height: 80%;
    appearance: none;
    border-radius: 30px;
    background-color: #EFEFEF;
    border-width: 0;
    color: #515151;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
}

.inputcustomer {
    width: 100%;
    padding-left: 30px;
}

.inputcustomer2 {
    width: 70%;
    text-align: center;
}

#inp {
    text-align: center;
}

.spadetails {
    float: left;
    height: 100%;
    width: 70%;
}

.spapic {
    display: inline-block;
    height: 100%;
    width: 30%;
}

.custom-select {
    appearance: none;
	padding: 5px;
    width: 56.5%;
    height: 80%;
	background-color: #EFEFEF;
	color: black;
	border: none;
	font-family: inherit;
    padding-left: 20px;
	outline: none;
    border-radius: 30px;
    background: url(../Pictures/arrow_down.png) no-repeat right #EFEFEF;
    background-size: 20px;
    background-position-x: 94%;
}

#forspa {
    width: 100%;
    height: 40%;
}

input[type="radio"] {
    appearance: none;
    width: 14px;
    height: 14px;
    background-clip: content-box;
    border: 2px solid #FADA5E;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
}

input[type="radio"]:checked {
    background-color: #F9D95E;
  }

#manualinput {
    width: 90px;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {  
   opacity: 1;
}

#forAddonServices {
    margin-left: 10%;
    width: 80%;
    height: 30%;
}

input[type="checkbox"] {
    appearance: none;
    width: 15px;
    height: 15px;
    border: 2px solid #FADA5E;
}

input[type="checkbox"]:checked {
    background-color: #FADA5E;
}

#pic {
    width: 150%;
    display: block;
    margin: 0 auto;
}

.hotelbox {
    display: flex;
    width: 100%;
    height: 40%;
  }
  
.roombox,  #fordaycare{
    width: 40%;
}

.guestbox {
    width: 60%;
}

#forroom {
    width: 100%;
    height: 100%;
}

#forroom td, #fordaycare td {
    vertical-align: top;
}

.select1, .select2 {
    appearance: none;
	padding: 5px;
	background-color: #EFEFEF;
	color: black;
	border: none;
	font-family: inherit;
    padding-left: 20px;
	outline: none;
    border-radius: 30px;
}

.select1 {
    width: 56.5%;
}
.select2 {
    width: 50%;
}
h5 {
    font-size: 1vw;
}

.basketcontainer {
    position : fixed;
    width: 4%;
    height: 8%;
    background-color: #FADA5E;
    right: 20px;
    margin-top: 20px;
    margin-right: 20px;
    border-radius: 5px;
    z-index: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: none;
    text-decoration: none;
    outline: none !important;
    box-shadow: none !important;
}

.basketimagecontainer {
    width: 70%;
    height: 70%;
    text-align: center;
    margin: auto;
}

.fa {
    color: white;
    font-size: 2.3vw;
}

.basketcontainer:hover {
    opacity: 80%;
}

#salescontainer {
    position : fixed;
    width: 15%;
    height: 50%;
    background-color: white;
    box-shadow: 0px 2px 6px #CCCCCC;
    right: 1%;
    margin-top: 7%;
    margin-right: 1%;
    border-radius: 35px;
    z-index: 1;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    display: none;
}

