*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
}

body {
    background-color: #FAFAFA;
}

.container {
    text-align: center;
}

input[type=radio], input[type=text], p{
    display: inline;
}